@{ Layout = null;}
@model PostViewModel
<div class="row">
    <div class="col-lg-11 col-md-10 mx-auto">
        @foreach (var item in Model.Posts)
        {
            <div class="card mb-5 border-0" style="back">
                <a asp-controller="Home" asp-action="Post" asp-route-postID="@item.PostID" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()" class="card-link">
                    @if (item.ImageData != null && item.ImageMimeType != null)
                    {
                        <img class="card-img-top hoverImage" src="@Url.Action("GetImage", "Home" ,
                 new {item.PostID })" width="720" height="170" alt="Dowload image">
                    }
                    else
                    {
                        <img class="card-img-top hoverImage" src="https://picsum.photos/723/170/?random" alt="Card image cap">
                    }
                </a>
                <div class="card-body">
                    <a asp-controller="Home" asp-action="Post" asp-route-postID="@item.PostID" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()" class="card-link">
                        <h5 class="card-title">@item.Title</h5>
                    </a>
                    <p class="card-text">@Html.Raw(item.Description)</p>
                    <p class="post-meta float-right">
                        <small class="text-muted">
                            Posted by 
                            <a asp-action="Index" asp-controller="Profile" asp-route-profileID="@item.ProfileID">@item.Author</a>
                        </small>
                    </p>
                    @{
                        int last = (int)DateTime.Now.Subtract(item.DateTime).TotalMinutes;
                        string lastText = "mins";

                        //var last = int.Parse(time);

                        if (last >= 60 && lastText == "mins")
                        {
                            last = last / 60;
                            lastText = "hour";
                        }
                        if (last >= 24 && lastText == "hour")
                        {
                            last = last / 24;
                            lastText = "day";
                        }
                        if (last >= 30 && lastText == "day")
                        {
                            last = last / 30;
                            lastText = "month";
                        }
                        if (last >= 12 && lastText == "month")
                        {
                            last = last / 12;
                            lastText = "year";
                        }

                    }
                    <p class="card-text"><small class="text-muted">Last updated @last @lastText ago</small></p>
                </div>
            </div>
            <hr>
        }

    </div>
</div>
@* Page *@
<div page-model="@Model.PagingInfo" page-url-title="@Model.CurrentSearchTitle" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-default"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right">
</div>

<style>


    .hoverImage:hover {
        -moz-box-shadow: 0 0 12px #c2a3a3;
        -webkit-box-shadow: 0 0 12px #c2a3a3;
        box-shadow: 0 0 12px #c2a3a3;
    }
</style>
