
@model IEnumerable<User>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Users List";
}
<div class="col-md-10">
    <div class="row">
        <div class="col-md-8">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Users Table</div>
                    <div class="panel-options">
                        <a asp-action="Create" asp-controller="Users" style="font-size:large" title="Add User"><i class="fas fa-plus-circle"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Year</th>
                            <th scope="col">Date Register</th>
                            <th scope="col"></th>
                        </tr>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td scope="row">@user.Email</td>
                                <td>@user.Year</td>
                                <td>@user.Date</td>
                                <td>
                                    <form asp-action="Delete" asp-route-id="@user.Id" method="post" id="myForm">
                                        <a class="btn btn-sm btn-primary normalButton" asp-action="Edit" asp-route-id="@user.Id" title="Edit"><i class="fas fa-user-edit"></i></a>
                                        <a class="btn btn-sm btn-primary normalButton" asp-action="ChangePassword" asp-route-id="@user.Id" title="Change Password"><i class="fas fa-key"></i></a>
                                        <a class="btn btn-sm btn-primary normalButton" asp-action="Edit" asp-controller="Roles" asp-route-userid="@user.Id" title="Access rights"><i class="fas fa-universal-access"></i></a>

                                        <button class="btn btn-sm btn-danger normalButton" title="Delete" type="submit">
                                            <i class="fas fa-user-minus"></i>
                                        </button>

                                    </form>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

