@model PostViewModel
<!-- Page Header -->
<header class="masthead" style="background-image: url('@Url.Content("~/img/home-bg.jpg")')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Marc Blog</h1>
                    <span class="subheading">Օnly fresh news</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    @{
        BreadcrumbViewModel broad = new BreadcrumbViewModel()
        {
            Active = true,
            Category = Model.CurrentCategory
        };
    }

    @Html.Partial("ShowBreadcrumb", broad)
    @if (TempData["message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="color:cornflowerblue;background-color:#F2F2F3;border-color:#F2F2F3;font-size:14px">
            @TempData["message"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }




    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "myFormSearch" }))
    {

        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight" style="width:160px">
                @*@await Component.InvokeAsync("NavigationMenu")*@
                <select class="custom-select" id="CategorySelected"
                        aria-label="Example select with button addon"
                        style="font-size:15px" name="category">
                    <option value="All" selected>All</option>
                    @foreach (string category in Model.Categories)
                    {
                        if (category.Equals(Model.CurrentCategory))
                        {
                            <option value="@category" selected>@category</option>
                        }
                        else
                        {
                            <option value="@category">@category</option>
                        }

                    }
                </select>
            </div>
            <div class="main p-2 bd-highlight">
                <!-- Actual search box -->
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search" name="title" id="search">
                </div>
            </div>
            <div class="p-2 bd-highlight">
                <button type="submit" class="btn btn-primary" style="padding:8px;border-radius:8px">
                    <p style="font-size:12px;display:inline">Search</p>
                </button>
            </div>

        </div>
    }



    <div class="d-flex flex-row-reverse bd-highlight" style="height:23px">
        <div class="p-1 bd-highlight">
            <form action="/" method="get" id="sortForm">
                <select class="custom-select" id="sortSelected"
                        aria-label=""
                        style="font-size:small;height:32px;width:70px" name="category">
                    <option value="New">New</option>
                    <option value="Old">Old</option>
                </select>
            </form>
        </div>
    </div>
    <hr />
    <div class="float-right" style="margin-bottom:1px">

        <a asp-action="AddPost" asp-controller="Home" title="Add Post" style="color:#0085A1" id="AddPost">
            <i class="fas fa-plus-circle"></i>
        </a>

    </div>
    <div id="postContent">
        @Html.Partial("ShowBlocksPartial", Model)
    </div>
</div>

@section Script{
    <script>

        $("#myFormSearch").submit(function (e) {
            console.log("It's Here");
            var search = $("#search").val();
            var category = $("#CategorySelected").val();
            e.preventDefault();
            console.log("Serch " + search + " Category " + category);

            $("#postContent").load("/Index", { title: search, category: category, requestAjax: 1 });
        });
        $("#sortSelected").change(function (e) {
            e.preventDefault();

            var sortSelected = $("#sortSelected").val();

            $("#postContent").load("/Index", { sortSelected: sortSelected, requestAjax: 1, category: "" });
        });

    </script>
}


@section Style{
    <style>

        /* Styles for wrapping the search box */

        .main {
            width: 100%;
        }

        /* Bootstrap 4 text input with search icon */

        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }

        #AddPost:hover {
            color: #00657b !important;
        }
    </style>
}
