@model  Post
<!-- Page Header -->
<header class="masthead" style="background-image: url('@Url.Action("GetImage", "Product",
               new { Model.PostID })')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading" name="description">@Html.Raw(Model.Description)</h2>
                    <span class="meta">
                        Posted by 
                        <a href="#">@Model.Author</a>
                        on @Model.DateTime
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row" >
           @Html.Raw(Model.Text)
        </div>
    </div>
</article>
<hr>
